.home .banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
  overflow: hidden;
}

.home .banner .banner-left{
  flex: 6;
  text-align: center;
}
.home .banner .content {
  flex: 6;
  padding: 80px 50px;
}

.home .banner .content h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

.home .banner .content p {
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
}

.home .banner .content .email-input {
  display: flex;
  align-items: center;
}

.home .banner .content .email-input input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 50%;
  background-color: #ffffff;
}

.home .banner .content .email-input button {
  padding: 10px 20px;
  background-color: #6c63ff;
  border: none;
  border-radius: 5px ;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home .banner .content .email-input button:hover {
  background-color: #554ecc;
}

.home .latest-releases {
  margin-top: 4rem;
  padding-left: 50px;
  padding-right: 50px;
}

.home .latest-releases .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: #ffffff;
}

.home .latest-releases .section-header h2 {
  font-size: 2.2rem;
  margin: 0;
}

.home .latest-releases .section-header .button-container button {
  padding: 0.8rem 2.5rem;
  margin-right: 1rem;
  background-color: rgb(29, 29, 28);
  color: #ffffff;
  font-size: 0.7rem;
  cursor: pointer;
  border-radius: 15px;
  border-color: darkgray;
}

.home .latest-releases .movie-carousel {
  display: flex;
  justify-content: space-evenly;
}

.home .latest-releases .movie-carousel .movie-card {
  flex: 0 0 300px;
  height: 150px;
  border-radius: 5%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
/* New Section: kids section */
.kids_section{
  display: flex;
  margin-top: 4rem;
  align-items: center;
}
.kids-left{
  flex:6;
  width: 100%;
  text-align: center;
}
.kids-left img{
  max-width: 50%;
  border-radius: 10%;
}
.kids-right{
  flex:6;
  color: white;
  padding: 0 48px 0 20px
}
.kids-right h1{
  font-size: 2.4rem;
}
.kids-right p{
  font-size: 1.1rem;
}
  
/* New Section: Watch on Every Device */
.watch-on-every-device {
    background: radial-gradient(circle farthest-side, rgba(108, 99, 255, 0.3), #101013);
  padding: 2rem 0;
  margin-top: 4rem;
}

.watch-on-every-device .section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.watch-on-every-device .centered-content {
  width: 90%;
  text-align: center;
}

.watch-on-every-device h1 {
  font-size: xxx-large;
  margin-bottom: 1rem;
  color: #ffffff;
}

.watch-on-every-device p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.watch-on-every-device img {
  max-width: 100%;
  height: auto;
}

/* New Section: Genre */
.genre-section {
  display: flex;
  margin-top: 4rem;
  padding: 1rem 3rem;
  align-items: center;
}

.genre-section h1 {
  color: #ffffff;
  font-size: 2.4rem;
  margin-right: 2rem;
}

.genre-item img {
  width: 240px;
  height: 230px;
  object-fit: cover;
}

.genre-info {
  padding: 1rem;
  flex: 1;
}

.genre-info h3 {
  font-size: 2rem;
  margin: 0;
  color: rgba(108, 99, 255, 0.7);
  margin-bottom: 0.5rem;
}

.genre-info p {
  font-size: 1.1rem;
  color: #ffffffda;
  margin: 0;
}

.genre-item{
  height: 400px;
  margin-right: 12px;
}



.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sign-up-section .section-content {
  text-align: center;
  padding: 20px;
}

.sign-up-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.sign-up-section p {
  font-size: 1.2rem;
  color: #cdcbcb;
  margin-bottom: 20px;
  padding: 0 19rem;
}

.sign-up-section button {
  padding: 10px 20px;
  background-color: #6c63ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-up-section button:hover {
  background-color: #554ecc;
}