.privacy-policy {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: whitesmoke;
}

.privacy-policy h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.privacy-policy h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(218, 214, 205);
}

.privacy-policy p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}
