/* LoginPage.module.css */

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle closest-side, rgba(108, 99, 255, 0.3), #000000);
        z-index: -1;
}

.loginCard {
    background-color: rgba(29, 29, 28, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 400px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.errorMessage {
    color: #ff6c91;
    margin-top: 10px;
}

.signupLink {
    color: #6c63ff;
    text-decoration: none;
    cursor: pointer;
}

.forgotPasswordLink {
    color: #6c63ff;
    text-decoration: none;
    cursor: pointer;
}

.button {
    background-color: #6c63ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
}


.inputContainer {
    margin-bottom: 20px;
    text-align: left;
}

.label {
    color: #ffffff;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    padding: 10px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    color: #000000;
        background-color: rgba(255, 255, 255, 0.750);
}

.rememberMe {
    text-align: left;
}

.rememberMeLabel {
    display: inline;
    font-weight: normal;
    color: #ffffff;
}

.rememberMeCheckbox {
    margin-right: 5px;
    vertical-align: middle;
}

.loginOptions {
    margin-top: 20px;
}
